body {
  margin: 0;
  font-family: Lucida Bright, system-ui;
  background: #acbfe9de;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  background-image: url('image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: rgba(248, 210, 175, 0.925);
  padding: 20px 30px;
  border-radius: 22px;
  box-shadow: 8px 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

#image {
  max-width: 300px;
  border-radius: 50px;
  margin-top: 15px;
}
